.newContainer{
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.newPageContainer{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newContainerOperation{
    width:85%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newOperationContainer{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newCalc{
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newCalcContainer{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newProvider{
    width:85%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newProviderContainer{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}